@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 10% 80%;
    --foreground: 192 48% 6%;
    --card: 0 0% 100%;
    --card-foreground: 192 48% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 192 48% 6%;
    --primary: 89 51% 59%;
    --primary-foreground: 192 48% 6%;
    --secondary: 192 70% 74%;
    --secondary-foreground: 192 48% 6%;
    --muted: 0 0% 20%;
    --muted-foreground: 192 48% 70%;
    --accent: 198 76% 51%;
    --accent-foreground: 192 48% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 192 48% 6%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 198 76% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 192 48% 94%;
    --card: 0 0% 0%;
    --card-foreground: 192 48% 94%;
    --popover: 0 0% 0%;
    --popover-foreground: 192 48% 94%;
    --primary: 89 51% 41%;
    --primary-foreground: 0 0% 0%;
    --secondary: 192 70% 26%;
    --secondary-foreground: 192 48% 94%;
    --muted: 0 0% 80%;
    --muted-foreground: 192 48% 94%;
    --accent: 198 76% 49%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 192 49% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 198 76% 60%;
  }
}

/*============= OLD STYLES BEGIN HERE========== */
pear-ctrl[data-platform='darwin'] {
  margin-top: 12px;
  margin-left: 10px;
}

#titlebar {
  -webkit-app-region: drag;
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #001601;
}