{
  email {$CADDY_EMAIL}
  # acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
  on_demand_tls {
    ask http://admin:3000/check-domain
  }
  local_certs
}

# Main domain and subdomains
{$ROOT_DOMAIN}, www.{$ROOT_DOMAIN} {
  encode zstd gzip
  root * /srv/marketing

  # Route all api requests from the marketing app to the admin app
  reverse_proxy /api/* admin:3000

  # Default behavior
	file_server
  tls internal
}

*.{$ROOT_DOMAIN} {
  encode zstd gzip
  reverse_proxy admin:3000
  tls internal
}

*.{$ROOT_CLIENT_DOMAIN} {
  encode zstd gzip
  reverse_proxy client:3000
  tls internal
}

# Catch-all for custom domains
https:// {
  tls {
    on_demand
  }
  encode zstd gzip
  reverse_proxy client:3000
  tls internal
}
